{% extends "base.html" %}

{% block title %}Login / Signup{% endblock %}

{% block content %}
<div class="auth-container" id="account-page-container">
    <div id="login-form-container">
        <h2>Login</h2>
        <form action="{{ url_for('account') }}" method="POST">
            <label for="phone"><b>Phone Number</b></label>
            <input type="tel" placeholder="Enter Phone Number" name="phone" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit" name="login_submit">Login</button>
        </form>
        <a href="#" id="toggle-signup" class="toggle-link">Don't have an account? Sign Up</a>
    </div>
</div>

<div id="signupModal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2>Sign Up</h2>
        <form action="{{ url_for('signup') }}" method="POST">
            <label for="name"><b>First Name</b></label>
            <input type="text" placeholder="Enter First Name" name="name" required>

            <label for="lastname"><b>Last Name</b></label>
            <input type="text" placeholder="Enter Last Name (Optional)" name="lastname">

            <label for="phone_signup"><b>Phone Number</b></label>
            <input type="tel" placeholder="Enter Phone Number" name="phone" required>

            <label for="email"><b>Email (Optional)</b></label>
            <input type="email" placeholder="Enter Email" name="email">

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

            <button type="submit">Register</button>
        </form>
        <a href="#" id="toggle-login" class="toggle-link">Already have an account? Login</a>
    </div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}